@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first, .second, .third, .quarter, .fifth, .sixth{
    margin: auto;
}

.first{
    width: 1280px;
    height: 908px;
    flex-shrink: 0;
    background-image: url(img/img.png);
    display: flex;
    flex-wrap: wrap;


}
.header{
    display: flex;
    width: 1200px;
    height: 60px;
    margin: 60px 40px;
    justify-content: center;
    align-items: center;
    gap: 573px;
    flex-shrink: 0;
}

.header div:nth-child(1) h2{
    color: #F1CDB3;
    font-family: Georgia, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 35.2px */
    letter-spacing: 1.92px;
}
.header div:nth-child(1) p{
    color: #FFF;
    font-family: Arial, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
    margin-left: 4px;
    margin-top: 10px;
}
.header div:nth-child(2) ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.header div:nth-child(2) ul li{
    list-style-type: none;
}


.header div:nth-child(2) ul li a{
    text-decoration: none;
    color: #CDCDCD;
    font-family: Arial, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */

}
.header div:nth-child(2) ul li a:hover{
    border-bottom: 3px solid #F1CDB3;
    align-self: stretch;
}

.main{
    width: 1200px;
    height: 728px;
    flex-shrink: 0;
    margin: 0 40px 0 40px;
    display: flex;
    justify-content: space-between;

}
.main div:nth-child(1){
    display: flex;
    width: 460px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 42px;
}
.main div:nth-child(1) h1{
    width: 310px;
    color: #FFF;
    font-family: Georgia, serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 57.2px */
}
.main div:nth-child(1) p{
    width: 460px;
    color: #CDCDCD;
    font-family: Arial, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
}
.main div:nth-child(1) button{
    display: flex;
    padding: 15px 45px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #F1CDB3;

}

.main div:nth-child(1) button a{
    text-decoration: none;
    color: #292929;
    font-family: Georgia, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}

.main div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}



 .second{
     display: flex;
     width: 1280px;
     padding: 80px 40px 100px 40px;
     justify-content: space-evenly;
     align-items: center;
 }
 .second h2{
     width: 370px;
     color:  #545454;
     font-family: Georgia, serif;
     font-size: 35px;
     font-style: normal;
     font-weight: 400;
     line-height: 130%; /* 45.5px */
     letter-spacing: 2.1px;
     margin-bottom: 25px;
 }

.text>p{
     width: 430px;
     color: #4C4C4C;
     font-family: Arial, serif;
     font-size: 15px;
     font-style: normal;
     font-weight: 400;
     line-height: 160%; /* 24px */
 }
.text>p:last-child{
    margin-top: 25px;
}

.third{
    display: flex;
    width: 1280px;
    padding: 80px 40px 100px 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F6F6F6;
}
.third h1{
    width: 400px;
    color: #545454;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}
.all-icons{
    margin: 60px 105px;
    gap:90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    display: flex;
    width: 270px;
    height: 435px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FAFAFA;
}
.icon h3{
    color: #545454;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}
.icon button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 45px;
    gap: 10px;
    border-radius: 100px;
    border: 2px solid  #F1CDB3;

}
.icon button a{
    text-decoration: none;
    color: #292929;
    font-family: Georgia, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}
.third>button{
    display: flex;
    padding: 15px 45px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #F1CDB3;


}
.third>button>a{
    text-decoration: none;
    color:  #292929;
    font-family: Georgia, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}


.quarter{
    display: flex;
    width: 1280px;
    padding: 80px 40px 100px 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  #FFF;
}
.quarter>div:nth-child(1){
    display: flex;
    width: 1200px;
    height: 431px;
    padding: 0 87px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-shrink: 0;

}
.quarter h1{
    color: #545454;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    width: 310px;
    height: 90px;
}
.all-icons-two{
    display: flex;
    width: 1026px;
    height: 281px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    flex-shrink: 0;
}
.all-icons-two svg{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}
.all-icons-two p{
    color:  #545454;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
    margin-top: 30px;
}
.icon-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.fifth{
    display: flex;
    width: 1280px;
    padding: 80px 182px 100px 183px;
    justify-content: center;
    align-items: center;
    background: #F6F6F6;
    gap: 30px

}
.fifth .text-two{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.fifth h2{
    width: 300px;
    color: #545454;
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}
.fifth p{
    color:  #545454;
    font-family: Georgia, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 16.5px */
    letter-spacing: 0.9px;
}
.fifth button{
    display: flex;
    padding: 10px 15px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 9px;
    background: #F1CDB3;
    color: #545454;
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}
.text-two p:last-child{
    width: 380px;
    color:  #B2B2B2;
    font-family: Arial, serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.sixth {
    width: 1280px;
    height: 350px;
    flex-shrink: 0;
    background-image: url(img/img_5.png);
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;

}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    display: flex;
    width: 278px;
    padding-right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin: 56px 0 60px 40px;

}
.visit{
    width: 302px;
    flex-shrink: 0;
    display: flex;
    padding-right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    margin: 56px 0 60px 40px;
}
.contact h2{
    width: 279px;
    color:  #FFF;
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}
.visit h2{
    width: 270px;
    color:  #FFF;
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;

}
.sixth p{
    color:  #F1CDB3;
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;

}
.sixth>.contact>.info>svg{
    margin-right: 20px;
    width: 40px;
    height: 32px;
    flex-shrink: 0;
}
.sixth>.visit>.info>svg{
    margin-right: 20px;
    width: 22px;
    height: 32px;
    flex-shrink: 0;
}

.sixth img{
    width: 300px;
    height: 310px;
    flex-shrink: 0;
    margin-top: 40px;
}